.countdown__shadow {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        //height: 100%;
        //background: rgb(51,51,51);
        background: linear-gradient(180deg, rgba(51,51,51,0.6) 0%, rgba(255,255,255,0) 100%);
    }
}

.countdown__bg {
    background-color: #f1f1f1;
    box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.1),
    inset -10px 0 20px rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 0 30px 60px 30px;
}

.countdown__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    //height: 400px;
    & .countdown__date--container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 150px;
        & .countdown__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 5px;
            width: 10%;

            & .countdown__heading {
                width: 100%;
                margin-bottom: 5px;
                text-align: center;
                font: 300 1.6rem Raleway, sans-serif;
                text-transform: uppercase;
                letter-spacing: -0.5px;
                strong {
                    font-weight: 400;
                    color: #ea4c4c;
                }
            }

            & .countdown__date--item {
                position: relative;
                float: left;
                height: 110px;
                width: 100px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow:0 3px 4px 0 rgba(0, 0, 0, .2),inset 2px 4px 0 0 rgba(255, 255, 255, .08);

                left: 0;
                right: 0;
                margin: auto;
                font: normal 5.94em/107px Oswald;
                font-weight: 700;
                color: #de4848;
                color: $color-orange-burnt;

                text-align: center;
            }
        }
    }
}

.countdown__heading-date {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    line-height: 1rem;
    text-align: center;
    color: #555555;
    font: 100 2rem Oswald, sans-serif;
    text-transform: uppercase;
}
